@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*,
*::before,
*::after{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;
     list-style: none;
     border: none;
     outline: none;
}

:root{
     --common-padding: 1.5rem 2rem;
     --body-bg-color: #f6f8fa;
}

html{
     font-size: 62.5%;
     overflow-x: hidden;
}

/* Resuable Style Classes */
.userImgBx{
     position: relative;
     width: 80px;
     height: 80px;
     border-radius: 50%;
     overflow: hidden;
     /* border: 2px solid red; */
}

.userImgBx img{
     position: absolute;
     inset: 0;
     width: 100%;
     height: 100%;
     object-fit: contain;
}


.contentBx{
     display: flex;
     flex-direction: column;
     gap: 0.4rem;
}

.contentBx .name{
     white-space: nowrap;
     font-size: 2.3rem;
}

.contentBx p{
     font-size: 1.3rem;
     color: rgba(0, 0, 0, 0.7);
}

.company-transition-bx{
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.company-transition-bx .leftBx p:not(.secondary-heading){
     font-weight: 600;
     font-size: 1.3rem;
     white-space: nowrap;
}

.company-transition-bx .rightBx {
     display: flex;
     align-items: center;
     gap: 1.7rem;
}

.company-transition-bx .rightBx img{
     width: 50px;
}

.company-transition-bx .secondary-heading{
     font-size: 1.3rem;
}

body{
     width: 100vw;
     height: 100vh;
     font-family: "Poppins", sans-serif;
     background-color: var(--body-bg-color);
     overflow-x: hidden;
}

body.active{
     /* overflow-y: hidden; */
}

body.active::before{
     content: '';
     position: absolute;
     inset: 0;
     width: 100%;
     height: 100%;
     z-index: 999;
     background-color: rgba(0, 0, 0, 0.5);
}

img{
     width: 100%;
}

.btn{
     display: inline-block;
     border: 1px solid #000;
     padding: 1rem 2.3rem;
     border-radius: 0.6rem;
     cursor: pointer;
     font-weight: 600;
     text-transform: uppercase;
}

.btn--primary{
     background-color: red;
     border-color: red;
     color: #fff;

}

.main-container{
     position: relative;
}

/* Sidebar Styles */
.sidebarMenu{
     position: absolute;
     top: 0;
     right: -100%;
     width: 60%;
     height: 100vh;
     display: flex;
     flex-direction: column;
     padding: var(--common-padding);
     /* align-items: center; */
     transition: 0.7s;
     justify-content: center;
     z-index: 99999;
     background-color: #fff;
}

.sidebarMenu.active{
     right: 0;
}

.sidebarMenu ul{
     /* background-color: pink; */
     display: flex;
     height: 100%;
     justify-content: center;
     flex-direction: column;
     gap: 1.3rem;
}

.sidebarMenu ul li a{
     font-size: 1.5rem;
     font-weight: 500;
     color: #000;
}

.sidebarMenu > .close-menu{
     position: absolute;
     top: 1rem;
     right: 3.8rem;
     font-size: 4rem;
     cursor: pointer;
     /* background-color: yellow; */
}

/* Header Styles */
.main-container .header{
     background-color: #fff;
     display: flex;
     box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.1);
     align-items: center;
     justify-content: space-between;
     padding: var(--common-padding);
     flex-wrap: wrap;
     /* position: fixed; */
     width: 100%;
}

.main-container .header .logoBx {
     position: relative;
}

.main-container .header .logoBx img{
     width: 100px;
     object-fit: cover;
}

.main-container .header .main-nav .main-nav__list{
     display: flex;
     gap: 3.4rem;
}

.main-container .header .main-nav .main-nav__list .main-nav__item a{
     font-size: 1.7rem;
     color: #000;
     font-weight: 600;
}

.main-container .header .btnBx{
     display: flex;
     flex-wrap: wrap;
     gap: 1.8rem;
}

.main-container .header .menu-toggler{
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 1.2rem;
     width: 50px;
     height: 50px;
     padding: 0.5rem;
     cursor: pointer;
     display: none;
     /* background-color: rgb(68, 68, 23); */
}

.main-container .header .menu-toggler span{
     display: block;
     position: absolute;
     width: 66%;
     height: 4px;
     left: 0;
     top: 1.2rem;
     background-color: blue;  
     transform-origin: center; 
     transition: 0.4s;  
}

.main-container .header .menu-toggler span:nth-child(2){
     top: 2.1rem;
}

.main-container .header .menu-toggler span:nth-child(3){
     top: 3.2rem;
}

.main-container .header .menu-toggler:is(:active) span:nth-child(2){
     display: none;
}

.main-container .topbar{
     padding: var(--common-padding);
     display: flex;
     align-items: center;
     gap: 1.2rem;
     margin-top: 2rem;
}

.main-container .topbar > button[data-btn="adv-filter-toggler"]{
     white-space: nowrap;
     border: 1px solid rgba(0, 0, 0, 0.2);
}

.main-container .topbar > button[data-btn="adv-filter-toggler"].active{
     background-color: #006dd9;
     color: #fff;
}


.main-container .topbar .searchBx{
     position: relative;
     width: 100%;
     display: flex;
     align-items: center;
     background-color: #fff;
}

.main-container .topbar .searchBx > i{
     position: absolute;
     right: 1rem;
     font-size: 1.3rem;
     cursor: pointer;
}

.main-container .topbar .searchBx > input{
     width: 100%;
     border: 1px solid rgba(0, 0, 0, 0.2);
     padding: 1rem 1.4rem;
}

/* Main Filter Box Styling */
.main-container .main-filterBx{
     display: grid;
     grid-template-columns: 25rem 1fr;
     padding: var(--common-padding);
     /* background-color: red; */
}

.main-filterBx__leftBx {
     position: relative;
     display: flex;
     flex-direction: column;
     gap: 1.3rem;
}

.main-filterBx__leftBx .bottomBar > h3{
     font-size: 2rem;
}

.main-filterBx__leftBx .bottomBar .filterBx{
     /* background-color: pink; */
     display: flex;
     flex-direction: column;
     gap: 0.4rem;
}

.main-filterBx__leftBx .bottomBar .filterBx label{
     display: flex;
     align-items: center;
     font-size: 1.4rem;
     cursor: pointer;
}

.main-filterBx__leftBx .bottomBar .filterBx > p{
     font-size: 1.2rem;
     margin: 1.4rem 0 0.1rem 0;
}

.main-filterBx__leftBx .bottomBar .view-btn{
     font-size: 1.3rem;
     text-decoration: underline;
     font-weight: 600;
     color: #000;
}

/* Advanced Filter Box styling */
.advancedFilterBx{
     position: fixed;
     top: 15rem;
     left: 2rem;
     width: 540px;
     display: flex;
     flex-direction: column;
     gap: 1.8rem;
     background-color: #fff;
     padding: var(--common-padding);
     box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.1);
     z-index: 99999;
     display: none;
}

.advancedFilterBx .topBx{
     display: flex;
     justify-content: space-between;
}

.advancedFilterBx .topBx h3{
     font-size: 2.1rem;
}

.advancedFilterBx .middleBx{
     display: flex;
     gap: 1.2rem;
}

.advancedFilterBx .middleBx .leftBx, .advancedFilterBx .middleBx .rightBx{
     width: 100%;
     height: 24rem;
     overflow-y: scroll;
}

.advancedFilterBx .middleBx .leftBx .tab{
     padding: 2rem 1rem;
     font-size: 1.6rem;
     cursor: pointer;
     background-color: #eaeff4;
     border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.advancedFilterBx .middleBx .leftBx .tab.active{
     background-color: #fff;
}

.advancedFilterBx .middleBx .rightBx .tabContent{
     padding: 1.3rem;
     display: flex;
     flex-direction: column;
     gap: 1.3rem;
     width: 100%;
     display: none;
}

.advancedFilterBx .middleBx .rightBx .tabContent > label{
     display: flex;
     align-items: center;
     gap: 0.5rem;
     font-size: 1.6rem;
     cursor: pointer;
}

.advancedFilterBx .bottomBx{
     display: grid;
     grid-template-columns: 10rem 1fr;
     grid-gap: 1.2rem;
}

.bottomBar .hiddenFiltersBx{
     display: none;
}

.main-filterBx__rightBx .statsBx{
     background-color: #fff;
     padding: 1.2rem 2rem;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     gap: 1.3rem;
}

.main-filterBx__rightBx .statsBx .statsBx__leftBx p{
     font-size: 1.7rem;
}

.main-filterBx__rightBx .statsBx .statsBx__leftBx h3{
     font-size: 4rem;
     line-height: 1.1;
     font-weight: 600;
}

.main-filterBx__rightBx .statsBx .statsBx__rightBx{
     display: flex;
     flex-wrap: wrap;
     gap: 3rem;
}

.main-filterBx__rightBx .statsBx .statsBx__rightBx > .box{
     display: flex;
     gap: 1rem;
     align-items: center;
}

.main-filterBx__rightBx .statsBx .statsBx__rightBx > .box img{
     width: 40px;
     height: 40px;
} 

.main-filterBx__rightBx .statsBx .statsBx__rightBx > .box > div > h4{
     font-size: 1.8rem;
}

.main-filterBx__rightBx .statsBx .statsBx__rightBx > .box > div > span{
     color: rgba(0, 0, 0, 0.4);
}

/* Candiates Card Styling */
.main-filterBx__rightBx .candidatesCardContainer{
     /* background-color: pink; */
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
     grid-gap: 1.3rem;
     margin-top: 2rem;
}

.candidatesCardContainer .cardBx{
     display: flex;
     flex-direction: column;
     gap: 1.8rem;
     border: 1px solid rgba(0, 0, 0, 0.1);
     padding: 1.2rem;
}

.candidatesCardContainer .cardBx .topBar{
     display: flex;
     align-items: flex-start;
     justify-content: space-between;
     gap: 1.2rem;
}

.connect-btn{
     display: block;
     text-align: center;
     width: 100%;
     background-color: rgba(0, 0, 0, 0.1);
     padding: 0.7rem 0;
     font-weight: 600;
     font-size: 1.2rem;
}

.view-profile-btn{
     border-top: 1px solid rgba(0, 0, 0, 0.1);
     color: blue;
     padding-top: 1rem;
     text-align: right;
     font-size: 1.3rem;
     font-weight: 600;
}

/* .company-icon{
     width: 150px;
     height: 30px;
} */


/* Login Page Sidebar Styling */
.loginBxContainer{
     position: absolute;
     top: 0;
     /* width: 100%; */
     height: 100vh;
     overflow-y: auto;
     right: -120%;
     background: #fff;
     transition: 0.5s;
     z-index: 99999;
     padding: var(--common-padding);
}

.loginBxContainer .close-login-form{
     font-size: 2.5rem;
     float: right;
     cursor: pointer;
}

.loginBxContainer > form{
     display: flex;
     flex-direction: column;
     gap: 1.8rem;
     padding: 3rem 0;
}

.loginBxContainer > form > p{
     font-size: 2.4rem;
}

/* .loginBxContainer > form .inputBx{
     /* background-color: red;
} */

.loginBxContainer > form .inputBx input[type="text"],
     .loginBxContainer > form .inputBx input[type="number"], select{
          width: 100%;
          padding: 1.2rem;
          border: 2px solid rgba(0, 0, 0, 0.07);
          border-radius: 0.3rem;
}

.loginBxContainer > form .inputBx input:is(:active, :focus){
     border: 2px solid rgba(0, 0, 0, 0.7);
}

.loginBxContainer > form .inputBx > h3{
     font-size: 1.5rem;
     margin-bottom: 0.4rem;
}

.loginBxContainer > form .inputBx > h3 sup{
     font-size: 1.6rem;
     line-height: 0.1rem;
     color: red;
}

.loginBxContainer > form .inputBx .wrapper{
     display: flex;
     gap: 1.3rem;
}

.loginBxContainer > form .inputBx .wrapper select{
     width: 60px;
     padding: 0;
}

.loginBxContainer > form .inputBx > label{
     display: flex;
     gap: 1rem;
     font-size: 1.7rem;
}

.loginBxContainer > form .signup-btn{
     text-transform: uppercase;
     padding: 1.2rem 0;
     background-color: #e21032;
     cursor: pointer;
     color: #fff;
     font-weight: 600;
}

.loginBxContainer > form .signup-btn:hover{
     box-shadow: 0 0.5rem 2.3rem 0 rgba(226,16,50,0.5);
}

.loginBxContainer > form .login-text{
     text-align: center;
     font-size: 1.6rem;
}

.loginBxContainer > form .login-text a{
     font-weight: bold;
     color: blue;
}

.loginBxContainer .orBx {
     display: flex;
     align-items: center;
     gap: 1.2rem;
}

.loginBxContainer .orBx > p{
     font-size: 1.5rem;
}

.loginBxContainer .orBx .line{
     width: 100%;
     display: block;
     height: 2px;
     background-color: rgba(0, 0, 0, 0.07);
}

.loginBxContainer > form .socialMediaBx{
     text-align: center;
}

.loginBxContainer > form .socialMediaBx p{
     font-size: 1.8rem;
     margin-bottom: 1.6rem;
}

.loginBxContainer > form .socialMediaBx > div{
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 3.9rem;
}

.loginBxContainer > form .socialMediaBx .iconBx{
     position: relative;
     width: 55px;
     height: 55px;
     overflow: hidden;
     cursor: pointer;
}

.loginBxContainer > form .socialMediaBx .iconBx img{
     position: absolute;
     inset: 0;
     width: 100%;
     height: 100%;
}

/* Share Container Styling */
.shareProfileContainer{
     /* background: red; */
     position: absolute;
     background-color: #fff;
     transition: 0.5s;
     width: 600px;
     height: 100vh;
     overflow-y: auto;
     top:0;
     left: -100%;
     padding: var(--common-padding);
     display: flex;
     display: none;
     flex-direction: column;
     gap: 2rem;
     z-index: 99999999;
}

.shareProfileContainer .topBx{
     display: flex;
     justify-content: space-between;
}

.shareProfileContainer .topBx a, span > i{
     font-size: 1.72rem;
     cursor: pointer;
     color: #000;
}

.shareProfileContainer .topBar{
     display: flex;
     gap: 1.2rem;
     align-items: center;
}

.share-btn{
     display: inline-block;
     align-self: flex-start;
     background-color: transparent;
     padding: 0.3rem 1rem;
     border: 1px solid rgba(0, 0, 0, 0.4);
     border-radius: 0.4rem;
     cursor: pointer;
     display: flex;
     align-items: center;
     gap: 0.5rem;
     margin-top: 0.2rem;
}

.share-btn:hover{
     background-color: rgba(0, 0, 0, 0.07);
}

.share-btn > img{
     width: 20px;
}

.shareProfileContainer .qnaBx{
     display: flex;
     flex-direction: column;
     gap: 1.3rem;
     /* background-color: red; */
     padding: 1.6rem;
     background-image: linear-gradient(to bottom, #f4f2f5ee , rgba(0, 255, 115, 0.2) 80%);
}

.shareProfileContainer .qnaBx h2{
     font-size: 2.5rem;
     margin-bottom: -0.6rem;
}

.shareProfileContainer .qnaBx p{
     font-size: 1.5rem;
}

.shareProfileContainer .qnaBx > div {
     display: flex;
     gap: 1.2rem;
     align-items: center;
}

.shareProfileContainer .qnaBx > div span{
     display: flex;
     align-items: center;
     gap: 0.2rem;
}

.shareProfileContainer .qnaBx > div span img{
     width: 16px;
}

.shareProfileContainer .qnaBx .chat-btn{
     width: 100%;
     background-color: rgb(0, 183, 255);
     padding: 0.5rem 0;
     cursor: pointer;
     color: #fff;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 0.4rem;
     font-size: 1.2rem;
     font-weight: 600;
}

.shareProfileContainer .qnaBx .chat-btn > img{
     width: 20px;
}

.shareProfileContainer .reviewBx{
     /* background-color: red; */
     display: flex;
     flex-direction: column;
     gap: 0.8rem;

}

.shareProfileContainer .reviewBx h2{
     font-size: 1.8rem;
}

.shareProfileContainer .reviewBx p{
     font-size: 1.5rem;
}

/* MEDIA QUERIES FOR RESPONSIVENESS */
@media(max-width: 768px){

     html{
          font-size: 56%;
     }

     .main-container .header .menu-toggler{
          display: flex;
     }

     .main-container .header .main-nav{
          display: none;
     }

     .main-filterBx{
          grid-template-columns: 1fr !important;
     }

     .main-filterBx .main-filterBx__leftBx{
          display: none;
     }
}

@media(max-width: 450px){
     .main-filterBx__rightBx .candidatesCardContainer .cardBx .topBar{   
          flex-direction: column;
     }

     .loginBxContainer{
          width: 100%;
     }

     :root{
          --common-padding: 0.3rem 1rem;
     }
}
